.navbar {
  font-family: "Montserrat", sans-serif;
  font-weight: 200;
  text-transform: uppercase; }
  .navbar li:hover {
    background-color: #974C9B;
    border: none; }
  .navbar li a {
    text-decoration: none;
    color: white;
    display: inline-block; }
    .navbar li a:hover {
      color: white;
      font-weight: 500; }

h1 {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: none;
  letter-spacing: 0.3rem;
  text-align: center;
  line-height: 1.6;
  background-color: #F4D376;
  margin-top: 20px;
  margin-bottom: 20px; }

section {
  margin: 10px;
  padding: 10px; }
  section h2 {
    font-family: "Montserrat", sans-serif;
    font-weight: 500, bold;
    line-height: 1.6;
    text-align: left;
    color: #974C9B; }
  section p {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    line-height: 1.6;
    text-align: left; }

section .divIndex {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 20px; }
  section .divIndex p {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    line-height: 1.6;
    text-align: left; }

.profes {
  margin: 10px;
  padding: 10px;
  margin-bottom: 20px; }
  .profes h2 {
    font-family: "Montserrat", sans-serif;
    font-weight: 500, bold;
    line-height: 1.6;
    text-align: left;
    color: #974C9B; }
  .profes p {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    line-height: 1.6;
    text-align: left; }

.profes2 {
  margin: 10px;
  padding: 10px;
  margin-bottom: none; }
  .profes2 h2 {
    font-family: "Montserrat", sans-serif;
    font-weight: 500, bold;
    line-height: 1.6;
    text-align: left;
    color: #974C9B; }
  .profes2 p {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    line-height: 1.6;
    text-align: left; }

.sectionCards {
  margin-top: 10px;
  margin-right: 10px auto;
  margin-left: 10px auto;
  margin-bottom: 50px;
  width: 95%;
  height: auto;
  display: grid;
  gap: 15px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  justify-content: space-between;
  align-content: space-between; }
  .sectionCards .cardProfe {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    border: #b8c6db solid;
    border-radius: 20px;
    margin: 0; }
    .sectionCards .cardProfe .imgProfe {
      padding: 10px;
      margin: 5px;
      text-align: center; }
    .sectionCards .cardProfe h3 {
      font-family: "Montserrat", sans-serif;
      font-weight: 500;
      text-align: center;
      text-transform: uppercase;
      margin: 0;
      font-size: 25px;
      padding: 5px;
      color: #974C9B; }
    .sectionCards .cardProfe p {
      font-family: "Montserrat", sans-serif;
      font-weight: 500;
      text-align: center;
      text-transform: uppercase;
      margin: 0;
      font-size: 13px; }
    .sectionCards .cardProfe h4 {
      font-family: "Montserrat", sans-serif;
      font-weight: 500;
      text-align: center;
      text-transform: uppercase;
      margin: 0;
      text-transform: none;
      font-style: italic;
      font-size: x-small;
      padding: 5px; }

.sectionTestimonios {
  margin-top: 10px;
  margin-right: 10px auto;
  margin-left: 10px auto;
  margin-bottom: 50px;
  width: 95%;
  height: auto;
  display: grid;
  gap: 15px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  justify-items: stretch;
  align-items: stretch;
  justify-content: stretch;
  align-content: stretch; }
  .sectionTestimonios .divTestimonio {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: #b8c6db solid;
    border-radius: 20px; }
    .sectionTestimonios .divTestimonio p {
      font-family: "Poppins", sans-serif;
      font-weight: 300;
      text-align: center;
      font-size: medium;
      font-style: italic;
      line-height: 1.6;
      margin: 10px;
      color: #974C9B; }
    .sectionTestimonios .divTestimonio h3 {
      font-family: "Poppins", sans-serif;
      font-weight: 300;
      text-align: center;
      font-size: medium;
      font-style: normal;
      text-transform: uppercase;
      letter-spacing: 2px;
      color: black; }
    .sectionTestimonios .divTestimonio h4 {
      font-family: "Poppins", sans-serif;
      font-weight: 300;
      text-align: center;
      font-size: x-small; }

section .exceptionP {
  text-align: left; }

.sectionInstr {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: space-between;
  margin: 0;
  margin-bottom: 50px;
  padding: 0; }
  .sectionInstr .ulInstrumentos {
    margin-left: 40px;
    margin-right: 10px;
    margin-top: 0;
    list-style-type: disc;
    font-family: "Poppins", sans-serif;
    font-style: italic;
    font-weight: 300;
    line-height: 1.6;
    text-align: left; }
  .sectionInstr .imgInstr {
    margin-top: 0;
    margin-right: 10px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 10px;
    justify-items: stretch;
    align-items: stretch; }
    .sectionInstr .imgInstr img {
      opacity: .7; }
      .sectionInstr .imgInstr img:hover {
        opacity: 1; }

.pagos {
  margin-bottom: 20px; }
  .pagos p {
    text-align: left; }
  .pagos .ulPagos {
    margin-top: 10px;
    margin-left: 20px;
    list-style-type: disc;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 300;
    line-height: 1.6;
    text-align: left; }

.carousel {
  margin-bottom: 40px; }

.iframes {
  display: flex;
  flex-direction: row;
  justify-content: space-around; }
  .iframes iframe {
    margin: 10px; }

section form {
  border: #b8c6db solid;
  margin: 20px auto;
  padding: 20px;
  font-family: "Montserrat", sans-serif;
  text-align: left; }
  section form div label {
    font-style: normal;
    font-weight: 500;
    font-size: large; }
  section form div input, section form div textarea {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal; }
  section form div .form-text {
    font-size: 13px;
    font-style: italic; }
  section form div button {
    padding: 10px; }

footer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1, 1fr;
  gap: 10px;
  grid-template-areas: "contacto logo redes";
  justify-items: center;
  align-items: center;
  background-color: black; }
  footer .divContacto {
    grid-area: contacto;
    margin: 5px;
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white; }
    footer .divContacto h4 {
      font-family: "Montserrat", sans-serif;
      font-weight: 500, bold;
      font-size: 13px;
      font-style: normal;
      text-decoration: underline;
      text-align: center;
      line-height: 25px; }
    footer .divContacto ul {
      list-style-type: none;
      font-family: "Montserrat", sans-serif;
      font-weight: 500;
      font-size: 12px;
      text-align: left; }
      footer .divContacto ul li a {
        text-decoration: none;
        color: white; }
        footer .divContacto ul li a:hover {
          color: #974C9B;
          font-weight: bold; }
  footer .divlogo {
    grid-area: logo;
    margin: 5px;
    padding: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-between; }
    footer .divlogo img {
      animation-duration: 4s; }
  footer .divRedes {
    grid-area: redes;
    margin: 5px;
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white; }
    footer .divRedes h4 {
      font-family: "Montserrat", sans-serif;
      font-weight: 500, bold;
      font-size: 13px;
      font-style: normal;
      text-decoration: underline;
      text-align: center;
      line-height: 25px; }
    footer .divRedes ul {
      list-style-type: none;
      font-family: "Montserrat", sans-serif;
      font-weight: 500;
      font-size: 12px;
      text-align: center; }
      footer .divRedes ul li a {
        text-decoration: none;
        color: white; }
        footer .divRedes ul li a:hover {
          color: #974C9B;
          font-weight: bold; }

* {
  /* Reseteo margin CSS */
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

/* ---------------------------------------- */
/* Fondo del Body */
body {
  background-color: #b8c6db;
  background-image: linear-gradient(315deg, #b8c6db 0%, #f5f7fa 74%); }

/* ---------------------------------------- */
/* RESPONSIVE */
@media only screen and (max-width: 600px) {
  /*Menor o igual a 600px*/
  .navbar .nav-item {
    text-align: center; }
  section p {
    text-align: center; }
  section .divIndex {
    flex-direction: column;
    justify-content: center; }
    section .divIndex p {
      text-align: center; }
    section .divIndex img {
      width: auto; }
  .profes p {
    text-align: center; }
  .profes2 p {
    text-align: center; }
  .sectionCards {
    margin: 5px auto;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between; }
    .sectionCards .cardProfe {
      justify-content: stretch; }
  .sectionTestimonios {
    margin: 5px auto;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: space-between; }
  .sectionInstr {
    flex-direction: column; }
    .sectionInstr .ulInstrumentos {
      text-align: center;
      text-transform: capitalize;
      letter-spacing: 2.5px;
      line-height: 30px;
      margin: 5px;
      font-style: normal; }
      .sectionInstr .ulInstrumentos li {
        list-style-type: none; }
    .sectionInstr .imgInstr {
      margin: 15px auto;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(5, 1fr); }
      .sectionInstr .imgInstr img {
        opacity: 1; }
  .iframes {
    flex-direction: column;
    justify-content: space-between; }
    .iframes iframe {
      width: 350px;
      height: 200px;
      margin: 10px;
      align-self: center; }
  footer {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1, 1fr;
    grid-template-areas: "logo logo" "contacto redes";
    gap: 5px; }
    footer .divRedes {
      margin: 0; }
    footer .divContacto {
      margin: 0; } }

@media only screen and (min-width: 601px) and (max-width: 1000px) {
  /*entre 601px y 1000px*/
  .navbar .nav-item {
    text-align: center; }
  section p {
    text-align: center; }
  section .divIndex {
    flex-direction: column;
    justify-content: center; }
    section .divIndex p {
      text-align: center; }
    section .divIndex img {
      width: auto; }
  .profes p {
    text-align: center; }
  .profes2 p {
    text-align: center; }
  .sectionCards {
    margin: 5px auto;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between; }
    .sectionCards .cardProfe {
      justify-content: stretch; }
  .sectionTestimonios {
    margin: 5px auto;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: space-between; }
  .sectionInstr {
    flex-direction: row; }
    .sectionInstr .ulInstrumentos {
      text-align: center;
      text-transform: uppercase;
      letter-spacing: 2.5px;
      line-height: 70px;
      margin: 5px;
      font-style: normal; }
      .sectionInstr .ulInstrumentos li {
        list-style-type: none; }
    .sectionInstr .imgInstr {
      margin: 15px auto;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(5, 1fr);
      gap: 15px; }
      .sectionInstr .imgInstr img {
        opacity: 1; }
  .iframes {
    flex-direction: column;
    justify-content: space-between; }
    .iframes iframe {
      width: 450px;
      height: 300px;
      margin: 10px;
      align-self: center; }
  footer {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1, 1fr;
    grid-template-areas: "logo logo" "contacto redes";
    gap: 15px; }
    footer .divRedes {
      margin: 0; }
    footer .divContacto {
      margin: 0; } }
