.navbar {
  font-family: "Montserrat", sans-serif;
  font-weight: 200;
  text-transform: uppercase; }
  .navbar li:hover {
    background-color: #974C9B;
    border: none; }
  .navbar li a {
    text-decoration: none;
    color: white;
    display: inline-block; }
    .navbar li a:hover {
      color: white;
      font-weight: 500; }

h1 {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: none;
  letter-spacing: 0.3rem;
  text-align: center;
  line-height: 1.6;
  background-color: #F4D376; }

section {
  margin: 10px;
  padding: 10px; }
  section h2 {
    font-family: "Montserrat", sans-serif;
    font-weight: 500, bold;
    line-height: 1.6;
    text-align: left;
    color: #974C9B; }
  section p {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    line-height: 1.6;
    text-align: left; }

section .divIndex {
  display: flex;
  flex-direction: row;
  justify-content: space-between; }
  section .divIndex p {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    line-height: 1.6;
    text-align: left; }

.sectionCards {
  margin: 10px auto;
  width: 95%;
  height: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 15px;
  justify-content: space-between;
  align-content: space-between; }
  .sectionCards .cardProfe {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    border: #b8c6db solid;
    border-radius: 20px;
    margin: 0; }
    .sectionCards .cardProfe .imgProfe {
      padding: 10px;
      margin: 5px;
      text-align: center; }
    .sectionCards .cardProfe h3 {
      padding: 5px;
      margin: 0;
      font-family: "Montserrat", sans-serif;
      font-weight: 500;
      font-size: 25px;
      color: #974C9B;
      text-align: center;
      text-transform: uppercase; }
    .sectionCards .cardProfe p {
      font-family: "Montserrat", sans-serif;
      font-weight: 500;
      text-align: center;
      text-transform: uppercase;
      font-size: 13px;
      margin: 0; }
    .sectionCards .cardProfe h4 {
      font-family: "Montserrat", sans-serif;
      font-style: italic;
      font-weight: 500;
      font-size: x-small;
      text-align: center;
      padding: 5px;
      margin: 0; }

.sectionTestimonios {
  margin: 10px auto;
  width: 95%;
  height: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  gap: 15px;
  justify-items: stretch;
  align-items: stretch;
  justify-content: stretch;
  align-content: stretch; }
  .sectionTestimonios .divTestimonio {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: #b8c6db solid;
    border-radius: 20px; }
    .sectionTestimonios .divTestimonio p {
      font-family: "Poppins", sans-serif;
      font-weight: 300;
      font-size: medium;
      font-style: italic;
      line-height: 1.6;
      text-align: center;
      margin: 10px;
      color: #974C9B; }
    .sectionTestimonios .divTestimonio h3 {
      font-family: "Poppins", sans-serif;
      font-weight: 300;
      font-size: medium;
      font-style: normal;
      text-transform: uppercase;
      text-align: center;
      letter-spacing: 2px;
      color: black; }
    .sectionTestimonios .divTestimonio h4 {
      font-family: "Poppins", sans-serif;
      font-weight: 300;
      font-size: x-small;
      text-align: center; }

.sectionInstr {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: space-between;
  margin: 0;
  padding: 0; }
  .sectionInstr .ulInstrumentos {
    margin-left: 40px;
    margin-right: 10px;
    margin-top: 0;
    list-style-type: disc;
    font-family: "Poppins", sans-serif;
    font-style: italic;
    font-weight: 300;
    line-height: 1.6;
    text-align: left; }
  .sectionInstr .imgInstr {
    margin-top: 0;
    margin-right: 10px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 10px;
    justify-items: stretch;
    align-items: stretch; }
    .sectionInstr .imgInstr img {
      opacity: .7; }
      .sectionInstr .imgInstr img:hover {
        opacity: 1; }

section .ulPagos {
  margin-top: 10px;
  margin-left: 20px;
  list-style-type: disc;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 300;
  line-height: 1.6;
  text-align: left; }

footer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1, 1fr;
  gap: 10px;
  grid-template-areas: "contacto logo redes";
  justify-items: center;
  align-items: center;
  background-color: black; }
  footer .divContacto {
    grid-area: contacto;
    margin: 5px;
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center; }
    footer .divContacto h4 {
      font-family: "Montserrat", sans-serif;
      font-weight: 500, bold;
      font-size: 13px;
      font-style: normal;
      text-decoration: underline;
      text-align: center;
      line-height: 25px;
      color: white; }
    footer .divContacto ul {
      list-style-type: none;
      font-family: "Montserrat", sans-serif;
      font-weight: 500;
      font-size: 12px;
      text-align: left;
      color: white; }
  footer .divlogo {
    grid-area: logo;
    margin: 5px;
    padding: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-between; }
    footer .divlogo img {
      animation-duration: 4s; }
  footer .divRedes {
    grid-area: redes;
    margin: 5px;
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center; }
    footer .divRedes h4 {
      font-family: "Montserrat", sans-serif;
      font-weight: 500, bold;
      font-size: 13px;
      font-style: normal;
      text-decoration: underline;
      text-align: center;
      line-height: 25px;
      color: white; }
    footer .divRedes ul {
      list-style-type: none;
      font-family: "Montserrat", sans-serif;
      font-weight: 500;
      font-size: 12px;
      text-align: center; }
      footer .divRedes ul li a {
        text-decoration: none;
        color: white; }
        footer .divRedes ul li a:hover {
          color: #974C9B;
          font-weight: bold; }

* {
  /* Reseteo margin CSS */
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

/* ---------------------------------------- */
/* Fondo del Body */
body {
  background-color: #b8c6db;
  background-image: linear-gradient(315deg, #b8c6db 0%, #f5f7fa 74%); }
