.navbar{
    font-family: $subtitleFont;
    font-weight: 200;
    text-transform: uppercase;
    li{
        &:hover{
            background-color: $subtitleColor;
            border:none;
        }
        a{
            text-decoration: none;
            color: white;
            display: inline-block;
            &:hover{
                color:white;
                font-weight: 500;
            }
        }
    }
}