@mixin cards {
    margin: 10px auto;
    width: 95%;
    height: auto;
    display: grid;
    gap: 15px;
}

@mixin descriptions {
    font-family: $subtitleFont;
    font-weight: 500;
    text-align: $titleAlign;
    text-transform: uppercase;
    margin: 0;
}

@mixin testimonios {
    font-family: $titleFont;
    font-weight: $titleWeight;
    text-align: $titleAlign;
}

.sectionCards{
    @include cards;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    justify-content: space-between; 
    align-content: space-between;
    .cardProfe{
        display: flex;  
        flex-direction: column;
        justify-content: flex-start;
        border: #b8c6db solid;
        border-radius: 20px;
        margin: 0;
        .imgProfe{
            padding: 10px;
            margin: 5px;
            text-align: $titleAlign;
        }
        h3{
            @include descriptions;
            font-size: 25px;
            padding: 5px;
            color: $subtitleColor;
        }
        p{
            @include descriptions;
            font-size: 13px;
        }
        h4{
            @include descriptions;
            text-transform: none;
            font-style: italic;
            font-size: x-small;
            padding: 5px;
        }
    }
}
.sectionTestimonios{
    @include cards;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    justify-items: stretch;
    align-items: stretch;
    justify-content: stretch;
    align-content: stretch;
    .divTestimonio{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        border: #b8c6db solid;
        border-radius: 20px;
        p{
            @include testimonios;
            font-size: medium;
            font-style: italic;
            line-height: 1.6;
            margin: 10px;
            color: $subtitleColor;
        }
        h3{
            @include testimonios;
            font-size: medium;
            font-style: normal;
            text-transform: uppercase;
            letter-spacing: 2px;
            color: black;
        }
        h4{
            @include testimonios;
            font-size: x-small;
        }
    }
}