.sectionCards{
    margin: 10px auto;
    width: 95%;
    height: auto;
    display: grid; 
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 15px; 
    justify-content: space-between; 
    align-content: space-between;
    .cardProfe{
        display: flex;  
        flex-direction: column;
        justify-content: flex-start;
        border: #b8c6db solid;
        border-radius: 20px;
        margin: 0;
        .imgProfe{
            padding: 10px;
            margin: 5px;
            text-align: $titleAlign;
        }
        h3{
            padding: 5px;
            margin: 0;
            font-family: $subtitleFont;
            font-weight: 500;
            font-size: 25px;
            color: $subtitleColor;
            text-align: $titleAlign;
            text-transform: uppercase;
        }
        p{
            font-family: $subtitleFont;
            font-weight: 500;
            text-align: $titleAlign;
            text-transform: uppercase;
            font-size: 13px;
            margin: 0;
        }
        h4{
            font-family: $subtitleFont;
            font-style: italic;
            font-weight: 500;
            font-size: x-small;
            text-align: $titleAlign;
            padding: 5px;
            margin: 0;
        }
    }
}
.sectionTestimonios{
    margin: 10px auto;
    width: 95%;
    height: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    gap: 15px;
    justify-items: stretch;
    align-items: stretch;
    justify-content: stretch;
    align-content: stretch;
    .divTestimonio{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        border: #b8c6db solid;
        border-radius: 20px;
        p{
            font-family: $titleFont;
            font-weight: $titleWeight;
            font-size: medium;
            font-style: italic;
            line-height: 1.6;
            text-align: $titleAlign;
            margin: 10px;
            color: $subtitleColor;
        }
        h3{
            font-family: $titleFont;
            font-weight: $titleWeight;
            font-size: medium;
            font-style: normal;
            text-transform: uppercase;
            text-align: $titleAlign;
            letter-spacing: 2px;
            color: black;
        }
        h4{
            font-family: $titleFont;
            font-weight: $titleWeight;
            font-size: x-small;
            text-align: $titleAlign;
        }
    }
}