section{
    .divIndex{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-bottom: 20px;
        p{
            font-family: $titleFont;
            font-weight: $titleWeight;
            line-height: 1.6;
            text-align: $subtitleAlign;
        }
    }
}