$subtitleFont: 'Montserrat', sans-serif;
$subtitleColor: #974C9B;
$subtitleWeight: 500, bold;
$subtitleAlign: left;
$titleFont: 'Poppins', sans-serif;
$titleWeight: 300;
$titleAlign: center;
$titleBackgr: #F4D376;
$sectMargin: 10px;
$sectPadd: 10px;