@import "variables";
@import "header";
@import "general";
@import "mainHome";
@import "mainStaff";
@import "mainClases";
@import "mainContacto";
@import "footer";

*{   /* Reseteo margin CSS */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* ---------------------------------------- */
/* Fondo del Body */
body{   
    background-color: #b8c6db;
    background-image: linear-gradient(315deg, #b8c6db 0%, #f5f7fa 74%);
}
/* ---------------------------------------- */
/* MOBILE FIRST */
@media only screen and (max-width: 600px){   /*Menor o igual a 600px*/
    .navbar{
        .nav-item{
            text-align: $titleAlign;
        }
    }
    section{
        .divIndex{
            flex-direction: column;
            justify-content: center;
            p{
                text-align: $titleAlign;
            }
            img{
                width: auto;
            }
        }
    }
    .sectionCards{ 
        margin: 5px auto;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        .cardProfe{
            justify-content: stretch;
        }
    }
    .sectionTestimonios{
        margin: 5px auto;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-content: space-between;
    }
    .sectionInstr{
        flex-direction: column;
        .ulInstrumentos{
            text-align: $titleAlign;
            text-transform: capitalize;
            letter-spacing: 2.5px;
            line-height: 30px;
            margin: 5px;
            font-style: normal;
            li{
                list-style-type: none;
            }
        }
        .imgInstr{
            margin: 15px auto;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(5, 1fr);
            img{
                opacity: 1;
            }
        }
    }
    footer{
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 1, 1fr;
        grid-template-areas: 
        "logo logo"
        "contacto redes";
        gap: 5px;
        .divRedes{
            margin: 0;
        }
        .divContacto{
            margin: 0;
        }
    }
}

@media only screen and (min-width: 601px) and (max-width: 1000px){  /*entre 601px y 1000px*/
    .navbar{
        .nav-item{
            text-align: $titleAlign;
        }
    }
    section{
        .divIndex{
            flex-direction: column;
            justify-content: center;
            p{
                text-align: $titleAlign;
            }
            img{
                width: auto;
            }
        }
    }
    .sectionCards{ 
        margin: 5px auto;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        .cardProfe{
            justify-content: stretch;
        }
    }
    .sectionTestimonios{
        margin: 5px auto;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-content: space-between;
    }
    .sectionInstr{
        flex-direction: row;
        .ulInstrumentos{
            text-align: $titleAlign;
            text-transform: uppercase;
            letter-spacing: 2.5px;
            line-height: 70px;
            margin: 5px;
            font-style: normal;
            li{
                list-style-type: none;
            }
        }
        .imgInstr{
            margin: 15px auto;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(5, 1fr);
            gap: 15px;
            img{
                opacity: 1;
            }
        }
    }
    footer{
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 1, 1fr;
        grid-template-areas: 
        "logo logo"
        "contacto redes";
        gap: 15px;
        .divRedes{
            margin: 0;
        }
        .divContacto{
            margin: 0;
        }
    }
}